.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #222222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color:white;

}
.sidenav-open{
    width: 30% !important;
}
.sidenav-offset-content{
    margin-left:-30%;
    margin-right:30%;
}