.navbar{
    transition: 0.5s;
}
.navbar-center-item{
    padding: 0px !important;
}
@media (min-width: 768px){
    .navbar-center-item {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
.navbar-menu-item{
    padding-top:20px;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav > li {
    float: none;
    display: inline-block; 
}
@media (max-width: 767px){
    .navbar-nav > li {
        float: none;
        display: block; 
    }
}

li.color{
    border: 1px #cccccc solid;
    display: inline-block;
    width: 35px;
    height:35px;
    transition: 0.1s;
}
li.color:hover{
    width: 100px;
    height:100px;
}
.hide-text{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.swatches > div > ul > li{
    margin-left:5px;
}
.color-is-selected{
    border: red 2px solid !important;
}
.gallery-image {
    width: 235px;
    height: 335px;
    display:inline-block;
}

.swatch-color-black{
    background-color: black;
}
.swatch-color-red{
    background-color: red;
}
.swatch-color-blue{
    background-color: blue;
}
.swatch-color-green{
    background-color: green;
}
.swatch-color-light-blue{
    background-image: url("../components/colors/220x350-blue-gloss-0069e1.jpg");
}
.swatch-texture-black-vein{
    background-image: url("../components/textures/720x1210px-black-vein.jpg");
}
.swatch-texture-silver-vein{
    background-image: url("../components/textures/720x1210px-silver-vein.jpg");
}
.swatch-texture-copper-vein{
    background-image: url("../components/textures/720x1210px-copper-vein.jpg");
}
.swatch-texture-hammer-tor{
    background-image: url("../components/textures/720x1210px-bronze-hammertor.jpg");
}
.logo-icon{
    display:inline-block;
    position:relative;
    width:50px;
   margin-left:10px;
   margin-top:2px;
}
.navbar-brand{
    padding: 0px;
}
.pp{
    height: calc(100vh);
}
.color-picker{
    position: absolute;
    width: 60px;
    right: 0px;
    opacity:0.3;
    transition: 0.6s;
}
.color-picker:hover{
    position: absolute;
    width: 80px;
    right: 0px;
    opacity:1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color:white;

}
section{
    transition: 0.5s;
}