.swatch-container{
    padding: 25px;
}
.swatch-colors ul,
.swatch-textures ul{
    padding-inline-start: 0px;
}
.swatch-description{}
.swatch-description-name{}
.swatch-selected-item{
    border: 3px #ffffff solid !important;
}
li.color{
    border: 1px #cccccc solid;
    display: inline-block;
    width: 50px;
    height:50px;
    transition: 0.1s;
}
li.color:hover{
    width: 100px;
    height:100px;
}